.container {
  width: 280px;
  margin: 24px auto 20px auto;
}

@media screen and (min-width: 768px) {
  .container {
    width: 652px;
    margin: 24px auto 20px auto;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 820px;
  }
}
