.container {
  width: 280px;
  margin: 24px auto 20px auto;
}

.button-section {
  display: flex;
  justify-content: space-between;
}

.header {
  width: 86px;
  font-family: "Montserrat-500", sans-serif;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
}

.finish-button {
  width: 130px;
  font-family: "Montserrat-500", sans-serif;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  padding: 18px 14px;
  background-color: #ff6b09;
  border: none;
  transition: 0.25s;
  cursor: pointer;
}

.finish-button:hover {
  opacity: 0.9;
  box-shadow: 2px 3px 4px 2px #696969;
  background-color: #000000;
  transform: rotateY(10deg);
}

.finish-button:disabled {
  opacity: 0.4;
}

.finish-button:disabled:hover {
  box-shadow: none;
  background-color: #ff6b09;
  transform: none;
  cursor: default;
}

.switch-button {
  width: 55px;
  padding: 9px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff6b09;
  border: none;
  cursor: pointer;
  transition: 0.25s;
}

.switch-button:hover {
  opacity: 0.9;
  box-shadow: 2px 3px 4px 2px #696969;
}

.switch-button:disabled {
  opacity: 0.4;
  cursor: default;
}

.switch-button:disabled:hover {
  box-shadow: none;
}

.switch-button ~ .switch-button {
  background-color: #ffffff;
}

.switch-button__text {
  display: none;
  color: #ffffff;
  font-family: "Montserrat-500", sans-serif;
}

.switch-button__svg {
  fill: #ffffff;
  width: 24px;
  height: 16px;
}

.rotate-arrow {
  transform: rotateY(180deg);
}

.blacken-arrow {
  fill: #000000;
}

.blacken-text {
  color: #000000;
}

@media screen and (min-width: 768px) {
  .container {
    width: 652px;
    margin: 24px auto 20px auto;
  }

  .button-section {
    margin: 20px 0 8px 0;
  }

  .header {
    width: 140px;
    font-size: 22px;
    line-height: 27px;
  }

  .finish-button {
    width: 190px;
    font-size: 14px;
    line-height: 17px;
  }

  .switch-button {
    width: 210px;
    display: flex;
    justify-content: space-between;
    padding: 12px 15px;
    font-size: 12px;
    line-height: 15px;
  }

  .switch-button__text {
    display: block;
    margin-right: 34px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 820px;
  }
}
